/*** General ***/

.aqua-6.cc-pu-bg {
  background: rgba(0,0,0,0.5) !important;
}

.aqua-6.pop-up-cc a, .aqua-6.pop-up-cc a:hover {
  color: #59d5f0 !important;
}
.aqua-6.pop-up-cc {
  color: #000;    
  font-family: "Roboto";
}
.aqua-6 .modal-inner {
  background: #fff !important;
  padding-top: 40px !important;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.3) !important;
}

.aqua-6 .modal-inner-caption {
	color: #000 !important;   
  font-family: "Roboto" !important;
}

/*** Close Button ***/

.aqua-6 .cc-pu-close { 
top:6px;
right:6px; 
}
.aqua-6 .cc-pu-close i {
  color: #59d5f0;
}
